name: "Generate homepage"

permissions:
  contents: read
  pages: write
  id-token: write

on:
  push:
    branches: [ "cd/2024-09-03-gen-docs" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/configure-pages@v4
      - uses: actions/upload-pages-artifact@v3
        with:
          path: "./docs"
      - uses: actions/deploy-pages@v4
