name: "Build"

permissions:
  contents: read
  pages: write
  id-token: write

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: "docker://ghcr.io/chrisdone/hell-build:2025-03-04@sha256:9ccd2a249765a87fd5f63a0ccca9a6747e791b653481f0ae054a1d06d1486380"

      env:
        # For the ~/.stack root.
        HOME: /home/chris/
        STACK_ROOT: /home/chris/.stack

        # This can be both of these, depending on whether it's a PR or
        # main. GitHub Actions is weird.
        #
        # * "GIT_BRANCH=refs/heads/main"
        # * "GIT_BRANCH=cd/2024-08-28-check-examples"
        #
        GIT_BRANCH: ${{ github.head_ref || github.ref }}

    steps:
      - run: |
          git clone https://github.com/chrisdone/hell /tmp/hell && \
          cd /tmp/hell && \
          git checkout $GIT_BRANCH
      - run: |
          cd /tmp/hell && stack build --fast
      - run: |
          cd /tmp/hell && stack exec hell scripts/check-examples.hell
      - run: |
          cd /tmp/hell && HOME=/home/chris/ stack exec hell scripts/check-docs.hell
