name: "Build"

permissions:
  contents: read
  pages: write
  id-token: write

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      HOME: /home/chris/
    container:
      image: docker://ghcr.io/chrisdone/hell-build@sha256:9b8bac32a20412d613a6dcf1611736da2b18079d9b3ff1900a893a781fab8fc7
    steps:
      - run: git clone https://github.com/chrisdone/hell /tmp/hell
      - run: cd /tmp/hell && git checkout ${GITHUB_SHA}
      - run: cd /tmp/hell && stack build --fast
      - run: cd /tmp/hell && stack exec scripts/check.hell
