name: "Build"

permissions:
  contents: read
  pages: write
  id-token: write

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    options: --user root
    env:
      HOME: /home/chris/
    container:
      image: docker://ghcr.io/chrisdone/hell-build@sha256:9b8bac32a20412d613a6dcf1611736da2b18079d9b3ff1900a893a781fab8fc7
    steps:
      - uses: actions/checkout@v3.0.2
      - run: stack build --fast
      - run: stack exec scripts/check.hell
