name: "Build"

permissions:
  contents: read
  pages: write
  id-token: write

on:
  push:
    branches: [ "cd/2024-08-28-stack-test" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: docker://ghcr.io/chrisdone/hell-build@sha256:9b8bac32a20412d613a6dcf1611736da2b18079d9b3ff1900a893a781fab8fc7
    steps:
      - run:
          ls -R /home/chris/
      # - run: git clone --branch $GITHUB_REF_NAME --depth=1 https://github.com/chrisdone/hell /tmp/hell
      # - run: mkdir /tmp/stack-root
      # - run: cd /tmp/hell && STACK_ROOT=/tmp/stack-root stack build --fast
